@font-face {
    font-family: "ubuntu";
    font-style: italic;
    font-weight: 300;
    src: local("Lato Light Italic"), local("Lato-LightItalic"),
      url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2)
        format("woff2");
  }
  
  .wrapper {
    text-align: left;
    width: 100%;
  }
  
  .wrapper h1 {
    font-size: 92px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    /* background: linear-gradient(to right, #ffd257 25%, #fe9047 50%, #7ffb32 75%, #3597f9 100%); */
    background: linear-gradient(45deg, #FF4500, #FFA500, #00CED1, #4169E1);
    background-size: 400% 200%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 6s ease infinite;
    display: inline-block;
    margin-bottom: 0;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }